@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*, ::after, ::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  /*font-size: 18px;*/
  /*line-height: 30px;*/
  color: var(--color-basic-dark);
}

/*Кастомные переменные для пере использования*/
:root {
  /*BASIC цвета*/
  --color-basic-extra-dark: #2D3440;
  --color-basic-dark: #565C66;
  --color-basic-neutral: #B9B9B9;
  --color-basic-light: #E7E7E7;
  --color-basic-extra-light: #FCFCFC;
  --color-basic-extra-white: #FFFFFF;
  /*SPECIAL цвета*/
  --color-special-extra-bright: #FF2F64;
  --color-special-bright: #FF4A78;
  --color-special-neutral: #FF7799;
  --color-special-light: #FEAFC3;
  --color-special-extra-light: #FFCBD8;
  --color-special-blue: #69A9FF;
  --color-special-light-blue: #9FC8FF;
  --color-special-yellow: #FCC850;
  --color-special-light-yellow: #FCDC92;

  /* Текст  */
  --text-title-size-1: 36px;
  --text-title-size-2: 32px;
  --text-title-size-3: 24px;
  --text-title-size-4: 20px;
  --text-title-size-5: 20px;
  --text-title-size-6: 18px;

  --text-title-height-1: 46px;
  --text-title-height-2: 46px;
  --text-title-height-3: 30px;
  --text-title-height-4: 24px;
  --text-title-height-5: 28px;
  --text-title-height-6: 22px;

  --text-paragraph-size-1: 18px;
  --text-paragraph-size-2: 16px;
  --text-paragraph-size-3: 16px;

  --text-paragraph-height-1: 24px;
  --text-paragraph-height-2: 22px;
  --text-paragraph-height-3: 20px;


  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --text-weight-black: 900;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/*Классы для изменения цвета фона
 TODO: Нет идей как без js реализовать замени/добавление класса?*/
.body-color.pink {
  background-color: var(--color-special-extra-light);
}

.body-color.blue {
  background-color: var(--color-special-blue);
}

.body-color.yellow {
  background-color: var(--color-special-yellow);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-block {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-1 {
  font-size: var(--text-title-size-1);
  line-height: var(--text-title-height-1);
  font-weight: var(--text-weight-black);
}

.title-2 {
  font-size: var(--text-title-size-2);
  line-height: var(--text-title-height-2);
  font-weight: var(--text-weight-black);
}

.title-3 {
  font-size: var(--text-title-size-3);
  line-height: var(--text-title-height-3);
  font-weight: var(--text-weight-black);
}

.title-4 {
  font-size: var(--text-title-size-4);
  line-height: var(--text-title-height-4);
  font-weight: var(--text-weight-black);
}

.title-5 {
  font-size: var(--text-title-size-5);
  line-height: var(--text-title-height-5);
  font-weight: var(--text-weight-black);
}

.title-6 {
  font-size: var(--text-title-size-6);
  line-height: var(--text-title-height-6);
  font-weight: var(--text-weight-black);
}

.paragraph-1 {
  font-size: var(--text-paragraph-size-1);
  line-height: var(--text-paragraph-height-1);
  font-weight: var(--text-weight-regular);
}

.paragraph-2 {
  font-size: var(--text-paragraph-size-2);
  line-height: var(--text-paragraph-height-2);
  font-weight: var(--text-weight-regular);
}

.paragraph-2.bold {
  font-weight: var(--text-weight-bold);
}

.paragraph-3 {
  font-size: var(--text-paragraph-size-3);
  line-height: var(--text-paragraph-height-3);
  font-weight: var(--text-weight-regular);
}

.paragraph-3.bold {
  font-weight: var(--text-weight-bold);
}

.slider-title {
  color: var(--color-basic-extra-dark);
}

.slider-description {
  color: var(--color-basic-extra-dark);
}

.title {
  color: var(--color-basic-extra-dark);
}

.slider-container {
  margin-bottom: 80px;
}

.stock-container {
  margin-bottom: 80px;
}

.stock-container .title {
  margin: 0 auto;
  margin-bottom: 56px;
  display: block;
  text-align: center;
  width: 443px;
}

.stock-card-container {
  display: grid;
  grid-template-columns: 570px 570px;
  grid-template-rows: 268px;
  gap: 30px;
}

.stock-card {
  border-radius: 16px;
  background-color: var(--color-special-neutral);
  padding: 40px;
  /* TODO: картинку на фон  */
}
